<div style="padding: 24px;">
  <h1>UIKIT</h1>
  <h2>Small size</h2>
  <div style="display: flex; justify-content: space-between; width: 300px;">
    <app-button btnText='Default' size='small'></app-button>
    <app-button btnText='Primary' color='primary' size='small'></app-button>
    <app-button btnText='Accent' color='accent' size='small'></app-button>
  </div>

  <h2>Default size</h2>
  <div style="display: flex; justify-content: space-between; width: 300px;">
    <app-button btnText='Default'></app-button>
    <app-button btnText='Primary' color='primary' ></app-button>
    <app-button btnText='Accent' color='accent' ></app-button>
  </div>

  <h2>Large size</h2>
  <div style="display: flex; justify-content: space-between; width: 400px;">
    <app-button btnText='Default' size='large'></app-button>
    <app-button btnText='Primary' color='primary' size='large'></app-button>
    <app-button btnText='Accent' color='accent' size='large'></app-button>
  </div>
</div>